@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  position: relative;
  z-index: -1;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
  &:before {
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    background-image: url(../img/logo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.btn {
  font-size: 20px;
  font-weight: bold;

  width: 140px;

  text-align: center;

  border-radius: 0;
  background-color: $dark-blue;
  &:hover {
    text-decoration: none;

    background-color: lighten($dark-blue, 5%);
  }
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.container {
  max-width: 950px;
  padding: 0;

  @extend .clearfix;
}
header {
  position: relative;

  height: 210px;

  background-color: transparent;
  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    height: 60px;

    content: '';

    background-color: $gray;
  }
  .logo {
    margin-bottom: 23px;
    padding: 30px 0 0;
  }
}
nav {
  ul {
    /* @extend .justify-child; */
    @extend .clearfix;
    li {
      display: inline-block;
      a {
        color: #fff;
      }
      &:hover {
        a {
          text-decoration: none;

          color: #fff;
          border-bottom: 1px dotted #fff;
        }
      }
    }
  }
}
.headnav {
  height: 60px;
  ul {
    padding: 17px 0 0 0;

    text-align: right;
    li {
      margin: 0 0 0 20px;
    }
  }
}

.main-nav {
  .main-nav__container {
    height: 45px;
    margin-right: -15px;
    margin-left: -15px;

    background-color: $blueo;

    @extend .justify-child;
    li {
      height: 45px;
      padding-top: 11px;
      &:before {
        display: none;
      }
      &.active {
        a {
          background-color: $medium-blue;
        }
      }
      &:hover {
        a {
          background-color: $dark-blue;
        }
      }
    }
    a {
      height: 45px;
      padding: 13px 28px;

      text-transform: uppercase;

      border-bottom: 0;
    }
  }
}


section {
  padding: 18px 0 $footer;
}
article {
  margin-bottom: 20px;
  padding: 25px 5px;

  background-color: $light-blueo;

  @extend .clearfix;
  .ctitle {
    font-size: 30px;

    margin-bottom: 20px;

    text-align: center;
    text-transform: uppercase;
  }
  p {
    font-size: 20px;

    text-align: justify;
  }
}
.shop-cat {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;

  background-color: transparent;
  .small-title {
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 25px;
    padding: 13px 0;

    text-align: center;
    text-transform: uppercase;

    background-color: $blueo;
  }
  .nav-shop {
    margin-bottom: 25px;
    ul {
      text-align: center;
    }
    li {
      height: 45px;
      padding-top: 11px;
      &:before {
        display: none;
      }
      &.active {
        a {
          background-color: $medium-blueo;
        }
      }
      &:hover {
        a {
          background-color: $dark-blue;
        }
      }
    }
    a {
      height: 45px;
      padding: 13px 28px;

      text-transform: uppercase;

      border-bottom: 0;
      background-color: $light-blueo;
    }
  }
  .shop-cat__block {
    padding: 0;


  }
  .shop-cat__item {
    margin-bottom: 25px;
    padding: 0 10px;
    .shop-cat__container {
      height: 100%;
      min-height: 190px;
      padding: 18px 3px;

      text-align: center;

      background-color: $light-blueo;
    }
    span,
    .btn {
      display: block;
    }
    h2,
    .district {
      font-size: 20px;
      font-weight: bold;

      margin-bottom: 8px;
    }
    .price {
      font-size: 36px;

      margin-bottom: 11px;
    }
    .quantity {
      font-size: 15px;

      margin-bottom: 13px;
    }
    .btn {
      margin: 0 auto;
    }
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7),
    &:nth-child(10),
    &:nth-child(13),
    &:nth-child(17) {
      padding-left: 0;
    }
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9),
    &:nth-child(12),
    &:nth-child(15),
    &:nth-child(18) {
      padding-right: 0;
    }
  }
}


.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $gray;
  .inner {
    height: $footer;
  }
  .copyright {
    font-size: 31px;
    line-height: 1;

    margin: 0;
    padding: 40px 0 0;

    text-align: center;
    text-transform: uppercase;
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_myriadpro';
@import 'base64';
@import 'import/print';
