@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  position: relative;
  z-index: -1;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
  &:before {
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    background-image: url(../img/logo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}

.container {
  max-width: 950px;

  @extend .clearfix;
}
header {
  position: relative;

  height: 165px;

  background-color: transparent;
  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;

    display: block;

    height: 60px;

    content: '';

    background-color: $gray;
  }
  .logo {
    padding: 30px 0 0;
    margin-bottom: 23px;
  }
}
nav {
  ul {
    /* @extend .justify-child; */
    @extend .clearfix;
    li {
      display: inline-block;
      a {
        color: #fff;
      }
      &:hover {
        a {
          text-decoration: none;

          color: #fff;
          border-bottom: 1px dotted #fff;
        }
      }
    }
  }
}
.headnav {
  height: 60px;
  ul {
    padding: 17px 0 0 0;

    text-align: right;
    li {
      margin: 0 0 0 20px;
    }
  }
}

.main-nav {
  .main-nav__container {
    height: 45px;
    margin-right: -15px;
    margin-left: -15px;

    background-color: $blue;

    @extend .justify-child;
    li {
      height: 45px;
      padding-top: 11px;
      &:before {
        display: none;
      }
      &.active {
        a {
          background-color: $medium-blue;
        }
      }
      &:hover {
        a {
          background-color: $dark-blue;
        }
      }
    }
    a {
      height: 45px;
      padding: 11px 28px;

      text-transform: uppercase;

      border-bottom: 0;
    }
  }
}


section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $gray;
  .inner {
    height: $footer;
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_roboto';
@import 'base64';
@import 'import/print';
